<!-- Skype -->
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<div class="mdl-layout__tab-panel is-active mdl-shadow--2dp" id="index">
  <section class="section--center mdl-grid mdl-grid--no-spacing ">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Contato</th>
          <th class="mdl-data-table__cell--non-numeric">Canal</th>
          <th class="mdl-data-table__cell--non-numeric">Assunto</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Status</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Quando</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Atendente</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Tags</th>
          <th class="mdl-data-table__cell--non-numeric">Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each messages}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{qtdeMsgs}}">account_box</div>
            {{contato}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <div id="spinner" class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active" style="display: inline-flex;"></div>
            <!-- <span class="skype-button rounded textonly" data-contact-id="paulo.victor.m.silva" data-text={{canal}}></span> -->
            <span class="canal-{{canal}} canal-box">{{canal}}</span>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{assunto}}</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{{status}}</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{{quando}}</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{{atendente}}</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only tags">
            {{#each tags}}
            <span class="mdl-chip">
              <span class="mdl-chip__text">{{tag}}</span>
            </span>
            {{/each}}
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{id}}">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{id}}">
             <li class="mdl-menu__item">Finalizar</li>
             <li class="mdl-menu__item">Atender</li>
             <li class="mdl-menu__item">Voltar para a Fila</li>
           </ul>
         </td>
       </tr>
       {{/each}}
     </tbody>
   </table>
 </section>
</div>